@import url('https://fonts.googleapis.com/css?family=Montserrat');
.ktitle {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
}

.kh1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    line-height: .75;
    margin: 10px 0;
}


/* styling my button */

.white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #FFF;
    transition: .35s ease-in-out;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
}

.white-mode:hover {
    background-color: #FFF;
    color: #122;
}

.cont_modal {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    box-shadow: 1px 1px 1000px 1000px rgba(0, 0, 0, 0.25), 1px 16px 25px -2px rgba(0, 0, 0, 0.5);
    background: #8e719b;
    /* Old browsers */
    background: -moz-linear-gradient(135deg, rgba(206, 153, 255, 0.8) 0%, rgba(187, 153, 255, 0.8) 51%, rgba(14, 144, 255, 0.8) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg, rgba(206, 153, 255, 0.8) 0%, rgba(187, 153, 255, 0.8) 51%, rgba(14, 144, 255, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(206, 153, 255, 0.8) 0%, rgba(187, 153, 255, 0.8) 51%, rgba(14, 144, 255, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px;
}